{% extends "m_login_base.html" %}
{% load url from future %}
{% block title %}重设密码{% endblock %}

{% block style %}
	<style type="text/css">
		#pwd_reset_c_form label {
	    	display: block;
    		width: 65px;
    		float: left;
		}
	</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function() {
		$("#id_new_password1").addClass('validate[required,minSize[6]] text-input');
		$("#id_new_password2").addClass('validate[required,equals[id_new_password1]] text-input');
		$("#pwd_reset_c_form").validationEngine({scroll:false});
	});
</script>
{% endblock %}
 
{% block page %}
<div class="box corners">
{% if validlink %}
 
<h2>输入新密码</h2>  
 
<form id="pwd_reset_c_form" action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">新密码：</label>{{ form.new_password1 }}</p> 
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">确认密码：</label>{{ form.new_password2 }}</p> 
<p><input type="submit" class="btn" value="重设我的密码" /></p> 
</form> 
 
{% else %}
 
<h2>重设密码失败</h2> 
 
<p>链接无效，可能是此链接被使用过了，如果需要再次重设密码，请点击 <a href="{% url 'django.contrib.auth.views.password_reset' %}">重设密码</a></p>
 
{% endif %}
<br />
</div>
{% endblock %}