{% extends "m_login_base.html" %}
 
{% block title %}重设密码{% endblock %}
{% block javascript %}
<script type="text/javascript">
	$(document).ready(function() {
		$("#id_email").addClass('validate[required,custom[email]] text-input');
		$("#pwd_reset_form").validationEngine({scroll:false});
	});
</script>
{% endblock %}
 
{% block page %}
<div class="box corners">
    <h2>重设密码</h2>
 
    <p>请在下面输入您的注册邮箱</p>
 
    <form id="pwd_reset_form" action="" method="post">{% csrf_token %}
    {% if form.email.errors %}
        <span class="errorlist">该电子邮件地址没有关联任何可用的用户帐号。请确定是否注册过，如果已经注册，请确认是否激活成功。</span>
    {% endif %}
    <p><label for="id_email">E-mail: </label> {{ form.email }} <input class="btn" type="submit" value="重设" /></p>
    </form>
    <br />
</div>
{% endblock %}