{% load url from future %}
<script type="text/javascript">
$(document).ready(function() {
	$('.dialog_del_thread span').text('您确定要删除和"' + del_conversational_partner + '"的全部对话吗？');
	$('#btn_close_dialog').click(function () {
		tb_remove();
	});
	
	$('#btn_confirm').click(function() {
		$.ajax({
				type: 'GET',
				contentType: 'application/json',
				url: '{% url 'sns.views.del_private_mail_thread' %}',
				data: 'thread_id=' + del_thread_id,
				dataType: 'json',
				beforeSend: function() {
				},
				error: function (XmlHttpRequest, textStatus, errorThrown){
				}, 
				success: function(jsonData) {
					if(jsonData.deleted) {
						window.location.href = window.location.href; 
					}
				}
			});
	});
});
</script>
<div class="dialog_del_thread">
	<img src="{{ STATIC_URL }}images/comment_delete.png">
	<span>您确定要删除对话吗？</span>
</div>
<div class="clear"></div>
<br>
<div class="center">
	<input type="button" id="btn_confirm" class="btn" value="确 定">
	<input type="button" id="btn_close_dialog" class="btn" value="取 消">
</div>