<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta name="keywords" content="dongting,fm" /> 
<meta name="description" content="" /> 
<title>出错了!</title>
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" media="screen" />
<style type="text/css">
#msg {
	text-align: center;
	margin: 20px 0 0 0;
}
</style>  
</head>
<body>
<div id="header_background"> 
	<div id="header"> 
		<div id="logo"> 
			<a href="/"><img alt="dongting.fm" src="/static/images/logo.png" /></a> 
	    </div> 
	    <div id="slogan"> 
	    	<span>网络丛林里的私人电台</span> 
	    </div> 
	</div> 
	<div class="clear"></div> 
</div> 
<div class="clear"></div> 
<div id="content"> 
    <div id="page"> 
		<div id="msg">500 error: 唉，出错了，如果你想告诉管理员是怎么回事，可以发邮件给laonan*dongting.fm(*号换成@)，谢了。 <a href="javascript:history.go(-1);">返回</a> | <a href="http://www.dongting.fm/">www.dongting.fm</a></div>
	</div>
</div>

<div class="clear"></div> 

<div id="footer"> 
    <p>&copy;&nbsp;Copyright 2011. All Rights Reserved.  <a href="/">动听FM</a></p> 
</div> 
</body>
</html>