{% extends "m_sections.html" %}
{% load url from future %}
{% block title %}我的黑名单{% endblock %}
{% block style %}
<link href="{{ STATIC_URL }}css/follow_list.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	var follow_url = '{% url 'sns.views.bad_guy' %}';
</script>
<script src="{{ STATIC_URL }}js/blacklist.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="follow_title">
	我的黑名单：
</div>
<div class="clear"></div>
{% for bad_guy in blacklist.object_list %}
<div id="id_bad_guy_{{ bad_guy.bad_guy.id }}" class="follow_list">
	<ul>
		<li class="first_li">
			<div class="avatar_small">
				{% if bad_guy.blacklist_userprofile_avatar %}
				<img src='{{ MEDIA_URL }}{{ bad_guy.blacklist_userprofile_avatar }}'>
				{% else %}
				<img src='{{ STATIC_URL }}images/default_avatar.jpg'>
				{% endif %}
			</div>
		</li>
		<li class="second_li">
			<span>
				<a href="{% url 'songs.views.songs_by_user' uid=bad_guy.bad_guy.id %}">{{ bad_guy.bad_guy.username }}</a>
			</span>
			<span>城市: {% if bad_guy.blacklist_userprofile_city %}{{ bad_guy.blacklist_userprofile_city }}{% else %}未知{% endif %}</span>
			<div>&nbsp;</div>
		</li>
		<li class="right_follow_box">
			<span>
				<a class="link_unblock" href="javascript:unblock({{ bad_guy.bad_guy.id }},'{{ bad_guy.bad_guy.username }}');">撤销</a>
			</span>
		</li>
	</ul>
</div>
<div class="clear"></div>
{% endfor %}
<a id="link_unblock_user" href="{% url 'remove_from_blacklist' %}?height=100&width=300&modal=true" class="thickbox"></a>
{% if blacklist.object_list.count > 0 %}
<div class="pagination">
    <span class="step-links">
        {% if blacklist.has_previous %}
            <a href="?page={{ blacklist.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            第 {{ blacklist.number }} 页 / 共 {{ blacklist.paginator.num_pages }} 页
        </span>

        {% if blacklist.has_next %}
            <a href="?page={{ blacklist.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
{% else %}
<div class="warning">
	恭喜你，黑名单上暂时没有人。
</div>
{% endif %}

<a id="link_remove_bad_guy_dialog" class="thickbox" href="{% url 'remove_from_blacklist' %}?height=100&width=300&modal=true"></a>
{% endblock %}

{% block righttop %}
{% include 'profile/user_box.html' %}
{% endblock %}